*{
box-sizing:border-box;
font-family:Arial;
}

body{
margin:0;
background:#05060b;
color:white;
height:100vh;
overflow:hidden;
}


header{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px;
}


h1{
font-size:35px;
}


.balance{

background:#151824;
padding:18px 30px;
border-radius:40px;
font-size:30px;

}


.space{

height:65vh;
position:relative;
text-align:center;
}


.stars{

position:absolute;
inset:0;

background-image:
radial-gradient(#555 1px,transparent 1px);

background-size:70px 70px;

}


#multiplier{

position:absolute;
top:45%;
width:100%;

font-size:90px;
font-weight:bold;

}


#rocket{

position:absolute;

bottom:80px;
left:45%;

font-size:90px;

transition:.2s;

}


.history{

display:flex;
gap:15px;
padding:10px;
overflow:hidden;

}


.history span{

background:#252c3d;
padding:15px 25px;

border-radius:30px;

}


.bets{

display:flex;
justify-content:center;
gap:15px;

}


button{

border:0;

padding:15px 25px;

border-radius:12px;

font-size:18px;

}


.actions{

display:flex;
justify-content:center;
gap:20px;

margin-top:20px;

}


.start{

background:white;

}


.cash{

background:#ffc107;

}


#message{

text-align:center;

font-size:22px;

margin:20px;

}


nav{

position:absolute;

bottom:0;

width:100%;

background:#111522;

display:flex;

justify-content:space-around;

padding:15px 0;

font-size:15px;

}


nav div{

text-align:center;

color:#aaa;

}


.active{

color:white!important;

}
