*{
box-sizing:border-box;
}

body{

margin:0;

background:#08090d;

color:white;

font-family:Arial;

}


.header{

display:flex;

justify-content:space-between;

padding:20px;

align-items:center;

}


.wallet{

background:#161922;

padding:15px 25px;

border-radius:30px;

font-size:20px;

}



.game{

height:430px;

margin:10px;

border-radius:30px;

background:
radial-gradient(#555 1px,transparent 1px);

background-size:45px 45px;

position:relative;

overflow:hidden;

}



#rocket{

position:absolute;

bottom:20px;

left:45%;

font-size:70px;

transition:.2s;

}



#multi{

position:absolute;

top:45%;

width:100%;

text-align:center;

font-size:65px;

font-weight:bold;

}



.history{

display:flex;

gap:10px;

padding:15px;

overflow:hidden;

}



.history div{

background:#242936;

padding:12px 18px;

border-radius:25px;

}



.bet{

margin:10px;

padding:20px;

background:#11131a;

border-radius:25px;

text-align:center;

}



button{

border:0;

border-radius:18px;

padding:15px;

font-size:18px;

margin:5px;

}



.bet button{

background:#2563eb;

color:white;

}



.users{

padding:10px;

}



.users div{

background:#161922;

padding:18px;

margin:10px;

border-radius:25px;

display:flex;

justify-content:space-between;

font-size:20px;

}



.start{

background:#22c55e;

color:white;

width:45%;

}



.cash{

background:#eab308;

width:45%;

}



.buttons{

text-align:center;

}



#msg{

text-align:center;

font-size:25px;

margin:15px;

}



nav{

position:fixed;

bottom:0;

left:0;

right:0;

background:#11131a;

display:flex;

justify-content:space-around;

padding:15px 0;

border-radius:30px 30px 0 0;

}



nav span{

text-align:center;

font-size:13px;

color:#aaa;

}
