body{

margin:0;

background:
linear-gradient(
180deg,
#020617,
#111827
);

color:white;

font-family:Arial;

}



.app{

padding:20px;

}



.profile{

display:flex;

align-items:center;

gap:15px;

background:#1e293b;

padding:15px;

border-radius:20px;

}



.avatar{

font-size:50px;

}



.games{

display:grid;

grid-template-columns:
repeat(2,1fr);

gap:15px;

margin-top:30px;

}



.card{

background:#334155;

padding:25px 10px;

text-align:center;

border-radius:25px;

font-size:35px;

transition:.2s;

}



.card:active{

transform:scale(.95);

}



.card h3{

font-size:20px;

}



.card p{

font-size:14px;

color:#cbd5e1;

}
