*{
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}


body{

    margin:0;
    background:#050816;
    color:white;
}


.app{

    max-width:500px;
    margin:auto;
    padding:15px;

}



header{

    display:flex;
    justify-content:space-between;
    align-items:center;

}


h1{

    font-size:32px;

}



.balance{

    background:#18223b;
    padding:15px 25px;
    border-radius:30px;
    font-size:22px;

}




.space{

    height:500px;
    margin-top:20px;

    background:

    radial-gradient(circle,#1e293b,#020617);

    border-radius:35px;

    position:relative;

    overflow:hidden;

}




.space:before{

    content:"";

    position:absolute;

    inset:0;

    background-image:
    radial-gradient(white 1px,transparent 1px);

    background-size:50px 50px;

    opacity:.5;

}




#multiplier{

    position:absolute;

    top:200px;

    width:100%;

    text-align:center;

    font-size:75px;

    font-weight:bold;

    z-index:2;

}





#rocket{

    position:absolute;

    bottom:60px;

    left:45%;

    font-size:80px;

    z-index:3;

    transition:.15s;

}





.history{

    display:flex;

    gap:8px;

    margin-top:15px;

}



.history button{

    flex:1;

    background:#202b45;

    color:white;

    border:0;

    padding:12px;

    border-radius:20px;

}





.bet-box{

    margin-top:20px;

    background:#111827;

    padding:20px;

    border-radius:30px;

    text-align:center;

}




.money button{

    background:#2563eb;

    color:white;

    border:0;

    padding:15px;

    margin:5px;

    border-radius:15px;

    font-size:18px;

}





.start{

    background:#16a34a;

    color:white;

    border:0;

    padding:16px 40px;

    border-radius:20px;

    font-size:20px;

    margin:10px;

}



.cash{

    background:#eab308;

    border:0;

    padding:16px 40px;

    border-radius:20px;

    font-size:20px;

}



.players{

    background:#1f2937;

    padding:15px;

    border-radius:20px;

    line-height:35px;

}


#info{

    color:#94a3b8;

    font-size:18px;

}
