body{

margin:0;
background:
linear-gradient(
#020617,
#0f172a
);

color:white;
font-family:Arial;
text-align:center;

}


.game{

padding:20px;

}


.space{

height:350px;
overflow:hidden;
position:relative;

background:

radial-gradient(
white 1px,
transparent 1px
);

background-size:
40px 40px;

border-radius:20px;

}


#rocket{

font-size:70px;

position:absolute;

bottom:20px;

left:45%;

transition:.15s;

}



.multi{

font-size:45px;
font-weight:bold;

margin:20px;

}


button{

padding:15px 30px;

margin:10px;

border-radius:15px;

border:none;

font-size:18px;

}


#message{

font-size:25px;

}
