*{
box-sizing:border-box;
font-family:Arial;
}

body{
margin:0;
background:#070b18;
color:white;
}


.app{
padding:25px;
}


header{
display:flex;
justify-content:space-between;
align-items:center;
}


h1{
font-size:42px;
}


.balance{
background:#151b32;
padding:20px 35px;
border-radius:35px;
font-size:28px;
}



.space{

height:700px;
margin-top:40px;
border-radius:40px;
background:#05091a;
position:relative;
overflow:hidden;

}


.stars{

position:absolute;
inset:0;

background-image:
radial-gradient(white 2px,transparent 2px);

background-size:100px 100px;

opacity:.5;

}



#multiplier{

position:absolute;
top:250px;
width:100%;
text-align:center;

font-size:110px;
font-weight:bold;

}



#rocket{

position:absolute;

width:120px;

bottom:100px;

left:50%;

transform:translateX(-50%);

transition:.2s;

}



.history{

display:flex;

gap:20px;

margin-top:30px;

}


.history button{

flex:1;

padding:25px;

border-radius:40px;

background:#202940;

color:white;

border:0;

font-size:25px;

}



.betbox{

background:#11182c;

padding:25px;

margin-top:25px;

border-radius:30px;

}


.betbox button{

padding:15px 25px;

border-radius:20px;

font-size:20px;

}


.start{

background:#159447;

color:white;

}


.cash{

background:#c43a3a;

color:white;

}



nav{

position:fixed;

bottom:0;

left:0;

right:0;

height:90px;

background:#101728;

display:flex;

justify-content:space-around;

align-items:center;

font-size:18px;

}


.active{

color:white;

font-size:22px;

}
