body{
    margin:0;
    background:
    linear-gradient(
    180deg,
    #050505,
    #111827
    );

    color:white;
    font-family:Arial;
    text-align:center;
}


.top{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px;

}


.wallet{

background:#1f2937;
padding:12px 25px;
border-radius:30px;

font-size:20px;

}



.space{

height:420px;

position:relative;

overflow:hidden;


background:

radial-gradient(
white 1px,
transparent 1px
);

background-size:40px 40px;

border-radius:30px;

margin:10px;

}



#rocket{

position:absolute;

bottom:40px;

left:45%;

font-size:70px;

transition:.1s;

}



#multiplier{

position:absolute;

top:40%;

width:100%;

font-size:60px;

font-weight:bold;

}



.history{

display:flex;

gap:8px;

overflow:hidden;

padding:15px;

}


.history span{

background:#374151;

padding:10px 18px;

border-radius:20px;

}



.betbox{

background:#18181b;

margin:15px;

padding:20px;

border-radius:25px;

}



button{

border:0;

border-radius:25px;

padding:15px 25px;

margin:5px;

font-size:18px;

}



.betbox button{

background:#1e40af;

color:white;

}



.players{

margin:20px;

}



.players div{

display:flex;

justify-content:space-between;

background:#18181b;

padding:20px;

margin:10px;

border-radius:20px;

}



.start{

background:#22c55e;

color:white;

}



.cash{

background:#facc15;

}



#message{

font-size:25px;

  }
